<footer id="footer" class="style4">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row add-clearfix same-height">
                <div class="col-sm-6 col-md-5" style="height: 369px;">
                    <h5 class="section-title box">Ask a Question</h5>
                    <div class="form-group">
                        <textarea rows="8" class="input-text full-width box-hsd"
                            placeholder="Get answer from ten experts. Provide enough information to enable experts to answer your question."></textarea>
                        <div class="mg__top"></div>
                        <div class="box"><a href="askaquestion.php" class="btn style2 ">POST YOUR QUESTION</a></div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3" style="height: 369px;">
                    <h5 class="section-title box">Useful Links</h5>
                    <ul class="arrow useful-links">
                        <li><a href="#!">About psychicleaders</a></li>
                        <li><a href="#!">Mission & Vision</a></li>
                        <li><a href="#!">Customer Support</a></li>
                        <li><a href="#!">Silents Features</a></li>
                        <li><a href="#!">Latest News</a></li>
                        <li><a href="#!">Upcoming Updates</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4" style="height: 369px;">
                    <h5 class="section-title box">About Psychic Leaders</h5>
                    <p class="text-white">PsychicLeaders.com is a platform where people connect globally in online
                        one-to-one chat for psychic reading, spiritual advice and shopping products. We offers a safe
                        space where for just one moment you can be your plain self. A space where you can unload, share
                        your issues, find answers and ultimately give your self-confidence a healthy boost.</p>
                    <div class="social-icons">
                        <a target="_blank" href="https://twitter.com/login?lang=en" class="social-icon"><i
                                class="fa fa-twitter has-circle" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Twitter"></i></a>
                        <a target="_blank" href="https://www.facebook.com/" class="social-icon"><i
                                class="fa fa-facebook has-circle" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Facebook"></i></a>
                        <a target="_blank" href="https://accounts.google.com/servicelogin" class="social-icon"><i
                                class="fa fa-google-plus has-circle" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="GooglePlus"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/login" class="social-icon"><i
                                class="fa fa-linkedin has-circle" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="LinkedIn"></i></a>
                        <a target="_blank" href="https://support.skype.com/en/skype/all/start/signing-in-out/"
                            class="social-icon"><i class="fa fa-skype has-circle" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Skype"></i></a>
                        <a target="_blank" href="https://dribbble.com/session/new" class="social-icon"><i
                                class="fa fa-dribbble has-circle" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Dribbble"></i></a>

                    </div>
                    <a href="#!" class="btn btn-sm style4">Contact Us</a>
                    <a href="#!" class="btn btn-sm style4">Mobile</a>
                    <a href="#!" class="btn btn-sm style4">Whatsapp </a>
                    <a href="#!" class="back-to-top"><span></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area" style="padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-area">
                        <nav class="secondary-menu">
                            <ul class="nav nav-pills">
                                <li><a class="unknow__btn" [routerLink]="['/']"
                                        routerLinkActive="router-link-active">HOME</a></li>
                                <li><a class="unknow__btn" [routerLink]="['/expert/popular']"
                                        routerLinkActive="router-link-active">POPULAR</a></li>
                                <li><a class="unknow__btn" [routerLink]="['/expert/prefered']"
                                        routerLinkActive="router-link-active">PREFERRED</a></li>
                                <li><a class="unknow__btn" [routerLink]="['/expert/premier']"
                                        routerLinkActive="router-link-active">PREMIER</a></li>
                                <li><a class="unknow__btn" href="expert-directory.php">DIRECTORY</a></li>
                                <li><a class="unknow__btn" href="">SITEMAP</a></li>
                                <li><a class="unknow__btn" href="shopping.php">SHOPING</a></li>
                                <li><a class="unknow__btn" [routerLink]="['/expert-signUp']" routerLinkActive="router-link-active" >EXPERTS SIGNUP</a></li>
                                <li><a class="unknow__btn" href="article.php">ARTICLE</a></li>
                                <li><a class="unknow__btn" [routerLink]="['/terms-conditions']" routerLinkActive="router-link-active" >TERM & POLICIES</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area bg-sty_css">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright coy__css">
                        &copy; 2021 Psychicleaders <em>All Right Reserved &nbsp; | Designed Developed by : </em> <a
                            href="https://www.arramton.com/" title="IT Company">Arramton Infotech Pvt. Ltd.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>