<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">Time Pack</h1>
        </div>
    </div>
    <ul class="breadcrumbs">
        <li><a href="index.php">Home</a></li>
        <li class="active">Time Pack</li>
    </ul>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <div class="panel-group faqs" id="faqs">
                <div class="panel">
                    <h3 class="panel-title">
                        <a class="active" data-parent="#faqs" data-toggle="collapse" href="#faqs-1"><span
                                class="open-sub"></span>FAQ AND HELP - Click to open or close</a>
                    </h3>
                    <div class="panel-collapse collapse in" id="faqs-1" style="height: auto;">
                        <div class="panel-content">
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>One pack can be used multiple times. Pack expires only when you consume all minutes.
                                </p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Expet advice with timepacks is more easier and more efficient as compared to a
                                    traditional method of pay per minute.</p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>You use expert's service on minute basis disregards of asking price per minute.</p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>You have freedom to buy any number of timepacks. There is no expiry date for using
                                    timepacks.</p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Popular pack can be used for Popular Experts, Preferred Pack can be used for
                                    Preferred Experts and Premier Pack can be used for Premier Experts only. </p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Each time you contact your expert you get three (3) minutes free as an introduction
                                    time.. </p>
                                <span class="close"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .testimonial.style1 {
        padding: 6px 11px 9px;
        margin-top: 0px;
    }
</style>
<section id="content">
    <div class="section">
        <div class="container">
            <div class="heading-box col-md-10 col-lg-8">
                <h2 class="box-title">3 Wonderful Time-Packs</h2>
                <p>For peace of mind and inner calm.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box style-boxed-3">
                        <h1 class="won-time">$50</h1>
                        <div class="box-content testimonial style1 block">
                            <div class="testimonial-content">
                                Popular Pack
                            </div>
                            <div class="testimonial-author">
                                <span class="testimonial-author-name">40 Minutes</span> - <span
                                    class="testimonial-author-job">You get forty minutes with Popular psychic experts
                                    who have have gone through a specialized interview process to ensure that you can
                                    enjoy a confidential reading with a psychic who has proven abilities and
                                    strengths.</span><br>
                            </div>
                        </div>
                        <select id="pop" name="pop" pack="50" class="droppack">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="amount popamount">$51.50</span>
                        <br><br>
                        <input type="button" class="btn btn-sm style1" value="Buy Now">
                        <a href="" class="btn btn-sm style1">Experts</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box style-boxed-3">
                        <h1 class="won-time">$100</h1>
                        <div class="box-content testimonial style1 block">
                            <div class="testimonial-content">
                                Preferred Pack
                            </div>
                            <div class="testimonial-author">
                                <span class="testimonial-author-name">40 Minutes</span> - <span
                                    class="testimonial-author-job">YOU GET FORTY MINUTES WITH OUR PREFERRED PSYCHICS
                                    EXPERTS WHO HAVE DEVELOPED A REPUTATION WITH OUR CUSTOMERS FOR PROVIDING
                                    CONFIDENTIAL, INSIGHTFUL GUIDANCE ON MATTERS OF LOVE, RELATIONSHIPS, AND
                                    CAREERS.</span><br>
                            </div>
                        </div>
                        <select id="pop" name="pop" pack="50" class="droppack">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="amount popamount">$103.00</span>
                        <br><br>
                        <input type="button" class="btn btn-sm style1" value="Buy Now">
                        <a href="" class="btn btn-sm style1">Experts</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box style-boxed-3">
                        <h1 class="won-time">$200</h1>
                        <div class="box-content testimonial style1 block">
                            <div class="testimonial-content">
                                Premier Pack
                            </div>
                            <div class="testimonial-author">
                                <span class="testimonial-author-name">40 Minutes</span> - <span
                                    class="testimonial-author-job">YOU GET FORTY MINUTES WITH OUR PREMIER PSYCHICS
                                    EXPERTS WHO ARE MOST POPULAR PSYCHICS FOR A REASON – THEY'LL PROVIDE YOU WITH THE
                                    NEEDED SUPPORTIVE INSIGHT TO HELP YOU TAKE THE NEXT STEP FORWARD IN LIFE WITH
                                    CONFIDENCE.</span><br>
                            </div>
                        </div>
                        <select id="pop" name="pop" pack="50" class="droppack">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="amount popamount">$206.00</span>
                        <br><br>
                        <input type="button" class="btn btn-sm style1" value="Buy Now">
                        <a href="" class="btn btn-sm style1">Experts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .alert {
        padding: 12px 83px 12px 101px !important;
    }
</style>