<div class="page-title-container">
    <div class="page-title">
       <div class="container">
          <h1 class="entry-title">Mailbox User</h1>
       </div>
    </div>
    <ul class="breadcrumbs">
       <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
       <li class="active">Mailbox User</li>
    </ul>
 </div>
 <section id="content">
    <div class="section" style="padding: 11px 0px 0px;">
       <div class="container">
          <div id="main">
             <div class="row">
                <div class="mailbox-viewport">
                   <div class="mailbox-wrapper">
                      <div class="mailbox-top-wrapper">
                         <div class="mailbox-flag">
                            <div class="mailbox-flag-part red"></div>
                            <div class="mailbox-flag-part red"></div>
                            <div class="mailbox-flag-part black"></div>
                         </div>
                         <div class="mailbox-top red">
                            <div class="mailbox-top-part black texture-1"></div>
                            <div class="mailbox-top-part black texture-1"></div>
                            <div class="mailbox-top-part black texture-1"></div>
                            <div class="mailbox-top-part black texture-1"></div>
                            <div class="mailbox-top-part black texture-1"></div>
                         </div>
                      </div>
                      <div class="mailbox-caps-wrapper">
                         <div class="mailbox-cap front">
                            <div class="mailbox-text">
                               <p>MAIL</p>
                            </div>
                            <div class="mailbox-mailhole">
                               <div class="mailbox-mailhole-top red"></div>
                               <div class="mailbox-mailhole-side red"></div>
                               <div class="mailbox-mailhole-side red"></div>
                            </div>
                            <div class="cap-top">
                               <div class="cap-top-part black"></div>
                               <div class="cap-top-part black"></div>
                               <div class="cap-top-part black"></div>
                               <div class="cap-top-part black"></div>
                               <div class="cap-top-part black"></div>
                            </div>
                            <div class="cap-bottom black"></div>
                         </div>
                         <div class="mailbox-cap back">
                            <div class="cap-top">
                               <div class="cap-top-part black texture-2"></div>
                               <div class="cap-top-part black texture-2"></div>
                               <div class="cap-top-part black texture-2"></div>
                               <div class="cap-top-part black texture-2"></div>
                               <div class="cap-top-part black texture-2"></div>
                            </div>
                            <div class="cap-bottom black texture-2"></div>
                         </div>
                      </div>
                      <div class="mailbox-side-wrapper">
                         <div class="mailbox-side left black texture-1"></div>
                         <div class="mailbox-side right black texture-1"></div>
                      </div>
                      <div class="mailbox-bottom black texture-1"></div>
                   </div>
                </div>
                <h3 class="text-center">No New Message in your Inbox</h3>
             </div>
          </div>
       </div>
    </div>
     
 </section>