<div id="slideshow" *ngIf="show">
    <div class="revolution-slider">
        <ul>
            <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                <div class="carousel-caption carousel-bx">
                    <h3 class="toggleHeading animate__heartBeat text-effect hidden-xs">
                        <span class="are-sure">Are you addicted to Psychic <br> Reading?</span>
                    </h3>
                    <p class="toggleCaption animate__backInLeft dummy__text hidden-xs">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    <p>
                </div>
                <img src="assets/img/slider-1.jpg" alt="">
            </li>
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
                <div class="carousel-caption carousel-bx">
                    <h3 class="toggleHeading animate__heartBeat text-effect hidden-xs">
                        <span class="are-sure">Are you addicted to Psychic <br> Reading?</span>
                    </h3>
                    <p class="toggleCaption animate__backInLeft dummy__text hidden-xs">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    <p>
                </div>
                <img src="assets/img/slider-2.jpg" alt="">
            </li>
            <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
                <div class="carousel-caption carousel-bx">
                    <h3 class="toggleHeading animate__heartBeat text-effect hidden-xs">
                        <span class="are-sure">Are you addicted to Psychic <br> Reading?</span>
                    </h3>
                    <p class="toggleCaption animate__backInLeft dummy__text hidden-xs">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    <p>
                </div>
                <img src="assets/img/slider-22.jpg" alt="">
            </li>
        </ul>
    </div>
</div>
