<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">My Experts</h1>
        </div>
    </div>
    <ul class="breadcrumbs">
        <li><a href="index.php">Home</a></li>
        <li class="active">My Bank</li>
    </ul>
</div>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 visible-mobile">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">FAQ AND
                        HELP - Click to open or close</button>
                <div id="demo" class="collapse colpsse">
                    <table class="table table-bordered">
                        <thead>
                            <th class="text-center">By adding balance to your account you will also be able to conduct
                                chat sessions with experts on pay per minute basis.</th>
                        </thead>
                        <thead>
                            <th class="text-center">You can also use this balance for payment to experts and getting
                                services through inbuilt email system of this website.</th>
                        </thead>
                        <thead>
                            <th class="text-center">You can also use this balance for buying timepacks.</th>
                        </thead>
                        <thead>
                            <th class="text-center"> Adding balance of $20 to your account allows you to conduct $20
                                deal and allow you to get free introductions with Popular experts. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> Adding balance of $50 to your account allows you to conduct $50
                                deal and allow you to get free introductions with Preferred experts. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> Adding balance of $100 to your account allows you to conduct $100
                                deal and allow you to get free introductions with Premier experts </th>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
        <div id="main ">
            <div class="panel-group faqs hidden-mobile" id="faqs">
                <div class="panel">
                    <h3 class="panel-title">
                        <a class="active" data-parent="#faqs" data-toggle="collapse" href="#faqs-1"><span
                                class="open-sub"></span>FAQ AND HELP - Click to open or close</a>
                    </h3>
                    <div class="panel-collapse collapse in" id="faqs-1" style="height: auto;">
                        <div class="panel-content">
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>By adding balance to your account you will also be able to conduct chat sessions with
                                    experts on pay per minute basis.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>You can also use this balance for payment to experts and getting services through
                                    inbuilt email system of this website.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>You can also use this balance for buying timepacks.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Adding balance of $20 to your account allows you to conduct $20 deal and allow you to
                                    get free introductions with Popular experts.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Adding balance of $50 to your account allows you to conduct $50 deal and allow you to
                                    get free introductions with Preferred experts. </p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Adding balance of $100 to your account allows you to conduct $100 deal and allow you
                                    to get free introductions with Premier experts. </p><span class="close"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .alert {
        padding: 12px 83px 12px 101px !important;
    }
</style>

<section class="experts-sec">
    <div class="container">
        <div class="heading-box">
            <h2 class="box-title"> Keep in contact with your Expert.</h2>
            <p class="desc-lg">Start a text Chat, Send Email to your expert regularly, it makes everything easier. Reply
                to your emails promptly. Be decisive, Add a personal touch, Be realistic and do not over demand, Be
                clear and transparent. </p>
        </div>
        <div id="main">
            <div class="post-wrapper isotope-active">
                <div class="post-filters">
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue active" data-filter="filter-all">All</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                        data-filter="filter-available">Available</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-price">Low
                        Priced</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-high">High
                        Priced</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-experts">New
                        Experts</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-busy">Busy</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                        data-filter="filter-popular">Popular</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                        data-filter="filter-preferred">Preferred</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                        data-filter="filter-premier">Premier</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-deal">$20 Deal</a>
                    <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-intro">Free
                        Intro</a>
                </div>
                <div class="iso-container iso-col-3 style-fancy active" style="position: relative; height: 1039.95px;">
                    <div class="iso-item filter-all filter-available feature_experts"
                        style="position: absolute; left: 0px; top: 0px;">
                        <article class="post">
                            <figure><img src="assets/img/feature-exterts/f1.jpg" alt=""></figure>
                            <div class="visited-experts">
                                <h3>Away</h3>
                                <h3>Busy</h3>
                                <h3>Available</h3>
                            </div>
                            <div class="portfolio-hover-holder">
                                <div class="portfolio-text">
                                    <div class="portfolio-text-inner">
                                        <h5 class="portfolio-title portfolio-title-2">
                                            <span class="portfolio-title portfolio-title-2" style="float:right"> <span
                                                    style="color:#f60;"> $<span class="price">1.99</span></span> <span
                                                    class="text-fff">/min</span> </span>
                                        </h5>
                                        <h5 class="portfolio-title text-fff">PSYCHIC DAISY</h5>
                                        <p>I am spiritual and religion expert advice provider
                                            The insights in my work will help light the way forward for a better life
                                            and I will offer you a positive way forward in your life.</p>
                                        <a href="#!" class="viwe-btn text-fff view-more-css"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                                <span class="portfolio-action">
                                    <a class="soap-mfp-popup" href="http://placehold.it/780x520"><i
                                            class="fa fa-file-text has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-envelope has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-chain has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-eye has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-clock-o has-circle"></i></a>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="iso-item filter-all feature_experts filter-available"
                        style="position: absolute; left: 0px; top: 0px;">
                        <article class="post">
                            <figure><img src="assets/img/feature-exterts/f2.jpg" alt=""></figure>
                            <div class="visited-experts">
                                <h3>Away</h3>
                                <h3>Busy</h3>
                                <h3>Available</h3>
                            </div>
                            <div class="portfolio-hover-holder">
                                <div class="portfolio-text">
                                    <div class="portfolio-text-inner">
                                        <h5 class="portfolio-title portfolio-title-2">
                                            <span class="portfolio-title portfolio-title-2" style="float:right"> <span
                                                    style="color:#f60;"> $<span class="price">5.49</span></span> <span
                                                    class="text-fff">/min</span> </span>
                                        </h5>
                                        <h5 class="portfolio-title text-fff">True Psychic Aimi</h5>
                                        <p>Honest advice about love and relationships
                                            Your Detailed honest reading and advice in matters of relationships and
                                            dating with me will be always to the point, and contain answers of truth.
                                        </p>
                                        <a href="#!" class="viwe-btn text-fff view-more-css"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                                <span class="portfolio-action">
                                    <a class="soap-mfp-popup" href="http://placehold.it/780x520"><i
                                            class="fa fa-file-text has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-envelope has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-chain has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-eye has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-clock-o has-circle"></i></a>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="iso-item filter-all filter-available feature_experts"
                        style="position: absolute; left: 0px; top: 0px;">
                        <article class="post">
                            <figure><img src="assets/img/feature-exterts/f3.jpg" alt=""></figure>
                            <div class="visited-experts">
                                <h3>Away</h3>
                                <h3>Busy</h3>
                                <h3>Available</h3>
                            </div>
                            <div class="portfolio-hover-holder">
                                <div class="portfolio-text">
                                    <div class="portfolio-text-inner">
                                        <h5 class="portfolio-title portfolio-title-2">
                                            <span class="portfolio-title portfolio-title-2" style="float:right"> <span
                                                    style="color:#f60;"> $<span class="price">0.99</span></span> <span
                                                    class="text-fff">/min</span> </span>
                                        </h5>
                                        <h5 class="portfolio-title text-fff">Psychic Friend</h5>
                                        <p>Love psychic online Strong calming presence
                                            Enjoy your free psychic love reading online chat . CLICK to choose me your
                                            psychic chat specialist. Online advice on love, relationship matters, career
                                            or money</p>
                                        <a href="#!" class="viwe-btn text-fff view-more-css"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                                <span class="portfolio-action">
                                    <a class="soap-mfp-popup" href="http://placehold.it/780x520"><i
                                            class="fa fa-file-text has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-envelope has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-chain has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-eye has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-clock-o has-circle"></i></a>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="iso-item filter-all filter-available feature_experts"
                        style="position: absolute; left: 0px; top: 0px;">
                        <article class="post">
                            <figure><img src="assets/img/feature-exterts/f4.jpg" alt=""></figure>
                            <div class="visited-experts">
                                <h3>Away</h3>
                                <h3>Busy</h3>
                                <h3>Available</h3>
                            </div>
                            <div class="portfolio-hover-holder">
                                <div class="portfolio-text">
                                    <div class="portfolio-text-inner">
                                        <h5 class="portfolio-title portfolio-title-2">
                                            <span class="portfolio-title portfolio-title-2" style="float:right"> <span
                                                    style="color:#f60;"> $<span class="price">10.49</span></span> <span
                                                    class="text-fff">/min</span> </span>
                                        </h5>
                                        <h5 class="portfolio-title text-fff">JENNIFER LUNA</h5>
                                        <p>Expertised relationship psychic reader
                                            I provide accurate, detailed and in-depth guidance based on the energy
                                            patterns and intuitive psychic messages from Angels and Spirit guides.</p>
                                        <a href="#!" class="viwe-btn text-fff view-more-css"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                                <span class="portfolio-action">
                                    <a class="soap-mfp-popup" href="http://placehold.it/780x520"><i
                                            class="fa fa-file-text has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-envelope has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-chain has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-eye has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-clock-o has-circle"></i></a>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="iso-item filter-all filter-available feature_experts"
                        style="position: absolute; left: 0px; top: 0px;">
                        <article class="post">
                            <figure><img src="assets/img/feature-exterts/f5.jpg" alt=""></figure>
                            <div class="visited-experts">
                                <h3>Away</h3>
                                <h3>Busy</h3>
                                <h3>Available</h3>
                            </div>
                            <div class="portfolio-hover-holder">
                                <div class="portfolio-text">
                                    <div class="portfolio-text-inner">
                                        <h5 class="portfolio-title portfolio-title-2">
                                            <span class="portfolio-title portfolio-title-2" style="float:right"> <span
                                                    style="color:#f60;"> $<span class="price">5.49</span></span> <span
                                                    class="text-fff">/min</span> </span>
                                        </h5>
                                        <h5 class="portfolio-title text-fff">Authentic Psychic Julia</h5>
                                        <p> Supercharge Your Life with Powerful Strategies
                                            I expert in Palmistry and Astrology. I need a picture of your palm and give
                                            you a reading with at the overall hand the fingertips and nails and skin.
                                            Try me.</p>
                                        <a href="#!" class="viwe-btn text-fff view-more-css"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                                <span class="portfolio-action">
                                    <a class="soap-mfp-popup" href="http://placehold.it/780x520"><i
                                            class="fa fa-file-text has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-envelope has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-chain has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-eye has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-clock-o has-circle"></i></a>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="iso-item filter-all filter-available feature_experts"
                        style="position: absolute; left: 0px; top: 0px;">
                        <article class="post">
                            <figure><img src="assets/img/feature-exterts/f1.jpg" alt=""></figure>
                            <div class="visited-experts">
                                <h3>Away</h3>
                                <h3>Busy</h3>
                                <h3>Available</h3>
                            </div>
                            <div class="portfolio-hover-holder">
                                <div class="portfolio-text">
                                    <div class="portfolio-text-inner">
                                        <h5 class="portfolio-title portfolio-title-2">
                                            <span class="portfolio-title portfolio-title-2" style="float:right"> <span
                                                    style="color:#f60;"> $<span class="price">1.99</span></span> <span
                                                    class="text-fff">/min</span> </span>
                                        </h5>
                                        <h5 class="portfolio-title text-fff">PSYCHIC DAISY</h5>
                                        <p>I am spiritual and religion expert advice provider
                                            The insights in my work will help light the way forward for a better life
                                            and I will offer you a positive way forward in your life.</p>
                                        <a href="#!" class="viwe-btn text-fff view-more-css"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                                <span class="portfolio-action">
                                    <a class="soap-mfp-popup" href="http://placehold.it/780x520"><i
                                            class="fa fa-file-text has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-envelope has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-chain has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-eye has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                    <a href="#!"><i class="fa fa-clock-o has-circle"></i></a>
                                </span>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>