<!-- <app-slider></app-slider> -->
<section id="content">

    <div class="container">
        <div class="row">
            <div class="col-md-12 visible-mobile">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">FAQ AND HELP -
                    Click to open or close</button>
                <div id="demo" class="collapse colpsse">
                    <table class="table table-bordered">
                        <thead>
                            <th class="text-center">You have gained access to this website. Please read FAQ and help on
                                every page.</th>
                        </thead>
                        <thead>
                            <th class="text-center">NEVER share contact information on website.</th>
                        </thead>
                        <thead>
                            <th class="text-center">Available Experts are ready to provide service. Expert will be
                                placed AWAY automatically, if he or she is not able to attend your call within allowed
                                time.</th>
                        </thead>
                        <thead>
                            <th class="text-center"> Low Priced: Experts are sorted as per low to high price </th>
                        </thead>
                        <thead>
                            <th class="text-center"> High Priced is a listing in order of hign price to low price of
                                chat rate experts are ready to provide service. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> New Experts is a listing of experts in order of date of joining.
                            </th>
                        </thead>
                        <thead>
                            <th class="text-center"> You get an opportunity to introduce yourself everytime for initial
                                3 minutes with the experts for free before you click the hire button. All sessions with
                                new experts are free until you hire. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> Busy experts are those who are busy with clients. You will be not
                                be able to start chat session with them however you have freedom to send an email. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> Popular psychic are who have have gone through a specialized
                                interview process to ensure that you can enjoy a confidential reading with a psychic who
                                has proven abilities and strengths. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> Preferred psychics experts are who have developed a reputation with
                                our customers for providing confidential, insightful guidance on matters of love,
                                relationships, and careers. </th>
                        </thead>
                        <thead>
                            <th class="text-center"> Premier psychics experts are who are most popular psychics for a
                                reason – they'll provide you with the needed supportive insight to help you take the
                                next step forward in life with confidence. </th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="main ">
            <div class="panel-group faqs hidden-mobile" id="faqs">
                <div class="panel">
                    <h3 class="panel-title">
                        <a class="active" data-parent="#faqs" data-toggle="collapse" href="#faqs-1"><span
                                class="open-sub"></span>FAQ AND HELP - Click to open or close</a>
                    </h3>
                    <div class="panel-collapse collapse in" id="faqs-1" style="height: auto;">
                        <div class="panel-content">
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>You have gained access to this website. Please read FAQ and help on every page.</p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>NEVER share contact information on website.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Available Experts are ready to provide service. Expert will be placed AWAY
                                    automatically, if he or she is not able to attend your call within allowed time.</p>
                                <span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Low Priced: Experts are sorted as per low to high price.</p><span
                                    class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>High Priced is a listing in order of hign price to low price of chat rate experts are
                                    ready to provide service. </p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>New Experts is a listing of experts in order of date of joining. </p><span
                                    class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>You get an opportunity to introduce yourself everytime for initial 3 minutes with the
                                    experts for free before you click the hire button. All sessions with new experts are
                                    free until you hire.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Busy experts are those who are busy with clients. You will be not be able to start
                                    chat session with them however you have freedom to send an email. </p><span
                                    class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Popular psychic are who have have gone through a specialized interview process to
                                    ensure that you can enjoy a confidential reading with a psychic who has proven
                                    abilities and strengths.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Preferred psychics experts are who have developed a reputation with our customers for
                                    providing confidential, insightful guidance on matters of love, relationships, and
                                    careers. </p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Premier psychics experts are who are most popular psychics for a reason – they'll
                                    provide you with the needed supportive insight to help you take the next step
                                    forward in life with confidence.</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>Free intro experts are always ready to talk with you for a maximum span of 5 minutes,
                                    athough they will not do any readings. However, you may enquire about your solution
                                    of specific issues</p><span class="close"></span>
                            </div>
                            <div class="alert alert-general padding-0 alert-shdow">
                                <p>All sessions with new experts are free until you hire. 3 minutes free every time.</p>
                                <span class="close"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .alert {
        padding: 12px 83px 12px 101px !important;
    }
</style>
<section class="links-sec">
    <div class="">
        <div class="container">
            <div class="heading-box">
                <h2 class="box-title imp__links">IMPORTANT LINKS </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="Display Pic" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="0"
                        style="animation-duration: 1s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/display-iocn.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="display-pic.php">Display Pic</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="Mail Box" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="0"
                        style="animation-duration: 1s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/mail-box.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="mailbox.php">Mail Box</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="My Bank" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="0"
                        style="animation-duration: 1s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/my-bank.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="mybank.php">My Bank</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="My Experts" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="0"
                        style="animation-duration: 1s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/my-experts.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="my-experts.php">My Experts</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="Settings" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="0"
                        style="animation-duration: 1s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/setting.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="settings.php">Settings</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="Chat Box" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="0.5"
                        style="animation-duration: 1s; animation-delay: 0.5s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/my-chatting.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="chatbox.php">Chat Box</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="Buy Minutes" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="1"
                        style="animation-duration: 1s; animation-delay: 1s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/buy-m.png">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="buy-minutes.php">Buy Minutes</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-xs-6">
                    <div title="Time Pack" class="icon-box custom__box style-boxed-3 animated box fadeInDown"
                        data-animation-type="fadeInDown" data-animation-delay="1.5"
                        style="animation-duration: 1s; animation-delay: 1.5s; visibility: visible;">
                        <div class="icon-container">
                            <img src="assets/img/icons/Time-pack.svg">
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="time-pack.php">Time Pack</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax has-caption parallax-image2" data-stellar-background-ratio="0.5"
        style="background-position: 50% 236.95px;">
        <div class="caption-wrapper">
            <h2 class="caption animated size-lg fadeInLeft readingss" data-animation-type="fadeInLeft"
                data-animation-duration="2" data-animation-delay="0"
                style="animation-duration: 2s; visibility: visible;">GENUINE LIVE PSYCHIC READING</h2>
            <br>
            <h3 class="caption animated size-md fadeInLeft to-an-ext" data-animation-type="fadeInLeft"
                data-animation-duration="2" data-animation-delay="1"
                style="animation-duration: 2s; animation-delay: 1s; visibility: visible;">IMMEDIATE ACCESS TO AN
                EXTENSIVE RANGE OF WORLD'S TRUSTED PSYCHICS ADVISORS & TAROT READERS .</h3>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="heading-box">
                <h2 class="box-title">Get More - Pay Less</h2>
                <p class="desc-lg">All Experts are grouped in three Amazing Time Packs.</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-xs-6">
                    <div class="shortcode-banner card-shd style-animated animated rotateInUpLeft"
                        data-animation-type="rotateInUpLeft" data-animation-delay="0"
                        style="animation-duration: 1s; visibility: visible;">
                        <img src="assets/img/get-more/image-1.jpg" alt="">
                        <div class="shortcode-banner-inside">
                            <div class="shortcode-banner-content">
                                <h3 class="banner-title">Popular Experts</h3>
                                <div class="details">
                                    <p>Specialized interview process to ensure that you can enjoy a confidential
                                        reading.</p>
                                    <a href="popular-experts.php" class="btn style3 bro-experts">Browse Experts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xs-6">
                    <div class="shortcode-banner card-shd style-animated animated rotateInUpLeft"
                        data-animation-type="rotateInUpLeft" data-animation-delay="0.3"
                        style="animation-duration: 1s; animation-delay: 0.3s; visibility: visible;">
                        <img src="assets/img/get-more/image-2.jpg" alt="">
                        <div class="shortcode-banner-inside">
                            <div class="shortcode-banner-content">
                                <h3 class="banner-title">Preferred Experts</h3>
                                <div class="details">
                                    <p>Gained reputation with our customers for providing confidential, insightful
                                        guidance on issues of love, relationships, and careers.</p>
                                    <a href="prefered-experts.php" class="btn style3 bro-experts">Browse Experts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xs-6">
                    <div class="shortcode-banner card-shd style-animated animated rotateInUpLeft"
                        data-animation-type="rotateInUpLeft" data-animation-delay="0.6"
                        style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                        <img src="assets/img/get-more/images-3.jpg" alt="">
                        <div class="shortcode-banner-inside">
                            <div class="shortcode-banner-content">
                                <h3 class="banner-title">Premier Experts</h3>
                                <div class="details">
                                    <p>They are going to provide you with the necesssary supportive insight to help you
                                        take the next step.</p>
                                    <a href="premier-experts.php" class="btn style3 bro-experts">Browse Experts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-client-section">
        <div class="section ofb-css">
            <div class="container">
                <div class="heading-box" style="margin: inherit;">
                    <h2 class="box-title color-white">OUR FEATURED BANNERS</h2>
                    <p class="desc-lg skin-color">Few you might also know </p>
                </div>
                <div class="overflow-hidden">
                    <div class="brand-slider owl-carousel" data-items="4"
                        data-itemsPerDisplayWidth="[[0, 1], [480, 1], [768, 2], [992, 3], [1200, 3]]">
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">Yogiraj Astrologer</h4>
                            </div>
                        </a>
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">True-Psychic-Aimi</h4>
                            </div>
                        </a>
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">Yogiraj Astrologer</h4>
                            </div>
                        </a>
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">True-Psychic-Aimi</h4>
                            </div>
                        </a>
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">Yogiraj Astrologer</h4>
                            </div>
                        </a>
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">True-Psychic-Aimi</h4>
                            </div>
                        </a>
                        <a class="get-more__css" href="yogiraj-astrologer.php">
                            <div class="cutom__csrdcss">
                                <img src="assets/img/get-more/img-1.jpg" alt="">
                                <h4 class="astro__csss">Yogiraj Astrologer</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="experts-sec">
        <div class="container">
            <div class="heading-box">
                <h2 class="box-title"> FEATURED EXPERTS</h2>
            </div>
            <div id="main">
                <div class="post-wrapper isotope-active">
                    <div class="post-filters">
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue active"
                            data-filter="filter-all">All</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                            data-filter="filter-available">Available</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-price">Low
                            Priced</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-high">High
                            Priced</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-experts">New
                            Experts</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-busy">Busy</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                            data-filter="filter-popular">Popular</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                            data-filter="filter-preferred">Preferred</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue"
                            data-filter="filter-premier">Premier</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-deal">$20
                            Deal</a>
                        <a href="#" class="btn btn-sm style4 btn-cut-sty hover-blue" data-filter="filter-intro">Free
                            Intro</a>
                    </div>
                    <div class="iso-container iso-col-3 style-fancy active"
                        style="position: relative; height: 1039.95px;">
                        <div class="iso-item filter-all filter-available feature_experts"
                            style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <figure><img src="assets/img/feature-exterts/f1.jpg" alt=""></figure>
                                <div class="visited-experts">
                                    <h3>Away</h3>
                                    <h3>Busy</h3>
                                    <h3>Available</h3>
                                </div>
                                <div class="portfolio-hover-holder">
                                    <div class="portfolio-text">
                                        <div class="portfolio-text-inner">
                                            <h5 class="portfolio-title portfolio-title-2">
                                                <span class="portfolio-title portfolio-title-2" style="float:right">
                                                    <span style="color:#f60;"> $<span class="price">1.99</span></span>
                                                    <span class="text-fff">/min</span> </span>
                                            </h5>
                                            <h5 class="portfolio-title text-fff">PSYCHIC DAISY</h5>
                                            <p>I am spiritual and religion expert advice provider
                                                The insights in my work will help light the way forward for a better
                                                life and I will offer you a positive way forward in your life.</p>
                                            <a href="advisor-harvey.php" class="viwe-btn text-fff view-more-css">
                                                &nbsp;&nbsp;&nbsp;&nbsp; VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    </div>

                                    <span class="portfolio-action">
                                        <a href="onlinechat.php"><i class="fa fa-file-text has-circle"></i></a>
                                        <a href="new_mail.php"><i class="fa fa-envelope has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                        <a class="soap-mfp-popup" href="img/feature-exterts/f1.jpg"><i
                                                class="fa fa-picture-o has-circle"></i></a>
                                        <a href="advisor-harvey.php"><i class="fa fa-eye has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                        <a href="time-pack.php"><i class="fa fa-clock-o has-circle"></i></a>
                                    </span>
                                </div>
                            </article>
                        </div>
                        <div class="iso-item filter-all feature_experts filter-available"
                            style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <figure><img src="assets/img/feature-exterts/f2.jpg" alt=""></figure>
                                <div class="visited-experts">
                                    <h3>Away</h3>
                                    <h3>Busy</h3>
                                    <h3>Available</h3>
                                </div>
                                <div class="portfolio-hover-holder">
                                    <div class="portfolio-text">
                                        <div class="portfolio-text-inner">
                                            <h5 class="portfolio-title portfolio-title-2">
                                                <span class="portfolio-title portfolio-title-2" style="float:right">
                                                    <span style="color:#f60;"> $<span class="price">5.49</span></span>
                                                    <span class="text-fff">/min</span> </span>
                                            </h5>
                                            <h5 class="portfolio-title text-fff">True Psychic Aimi</h5>
                                            <p>Honest advice about love and relationships
                                                Your Detailed honest reading and advice in matters of relationships and
                                                dating with me will be always to the point, and contain answers of
                                                truth.</p>
                                            <a href="advisor-harvey.php" class="viwe-btn text-fff view-more-css">
                                                &nbsp;&nbsp;&nbsp;&nbsp; VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                    <span class="portfolio-action">
                                        <a href="onlinechat.php"><i class="fa fa-file-text has-circle"></i></a>
                                        <a href="new_mail.php"><i class="fa fa-envelope has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                        <a class="soap-mfp-popup" href="img/feature-exterts/f2.jpg"><i
                                                class="fa fa-picture-o has-circle"></i></a>
                                        <a href="advisor-harvey.php"><i class="fa fa-eye has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                        <a href="time-pack.php"><i class="fa fa-clock-o has-circle"></i></a>
                                    </span>
                                </div>
                            </article>
                        </div>
                        <div class="iso-item filter-all filter-available feature_experts"
                            style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <figure><img src="assets/img/feature-exterts/f3.jpg" alt=""></figure>
                                <div class="visited-experts">
                                    <h3>Away</h3>
                                    <h3>Busy</h3>
                                    <h3>Available</h3>
                                </div>
                                <div class="portfolio-hover-holder">
                                    <div class="portfolio-text">
                                        <div class="portfolio-text-inner">
                                            <h5 class="portfolio-title portfolio-title-2">
                                                <span class="portfolio-title portfolio-title-2" style="float:right">
                                                    <span style="color:#f60;"> $<span class="price">0.99</span></span>
                                                    <span class="text-fff">/min</span> </span>
                                            </h5>
                                            <h5 class="portfolio-title text-fff">Psychic Friend</h5>
                                            <p>Love psychic online Strong calming presence
                                                Enjoy your free psychic love reading online chat . CLICK to choose me
                                                your psychic chat specialist. Online advice on love, relationship
                                                matters, career or money</p>
                                            <a href="advisor-harvey.php" class="viwe-btn text-fff view-more-css">
                                                &nbsp;&nbsp;&nbsp;&nbsp; VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                    <span class="portfolio-action">
                                        <a href="onlinechat.php"><i class="fa fa-file-text has-circle"></i></a>
                                        <a href="new_mail.php"><i class="fa fa-envelope has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                        <a class="soap-mfp-popup" href="img/feature-exterts/f3.jpg"><i
                                                class="fa fa-picture-o has-circle"></i></a>
                                        <a href="advisor-harvey.php"><i class="fa fa-eye has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                        <a href="time-pack.php"><i class="fa fa-clock-o has-circle"></i></a>
                                    </span>
                                </div>
                            </article>
                        </div>
                        <div class="iso-item filter-all filter-available feature_experts"
                            style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <figure><img src="assets/img/feature-exterts/f4.jpg" alt=""></figure>
                                <div class="visited-experts">
                                    <h3>Away</h3>
                                    <h3>Busy</h3>
                                    <h3>Available</h3>
                                </div>
                                <div class="portfolio-hover-holder">
                                    <div class="portfolio-text">
                                        <div class="portfolio-text-inner">
                                            <h5 class="portfolio-title portfolio-title-2">
                                                <span class="portfolio-title portfolio-title-2" style="float:right">
                                                    <span style="color:#f60;"> $<span class="price">10.49</span></span>
                                                    <span class="text-fff">/min</span> </span>
                                            </h5>
                                            <h5 class="portfolio-title text-fff">JENNIFER LUNA</h5>
                                            <p>Expertised relationship psychic reader
                                                I provide accurate, detailed and in-depth guidance based on the energy
                                                patterns and intuitive psychic messages from Angels and Spirit guides.
                                            </p>
                                            <a href="advisor-harvey.php" class="viwe-btn text-fff view-more-css">
                                                &nbsp;&nbsp;&nbsp;&nbsp; VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                    <span class="portfolio-action">
                                        <a href="onlinechat.php"><i class="fa fa-file-text has-circle"></i></a>
                                        <a href="new_mail.php"><i class="fa fa-envelope has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                        <a class="soap-mfp-popup" href="img/feature-exterts/f4.jpg"><i
                                                class="fa fa-picture-o has-circle"></i></a>
                                        <a href="advisor-harvey.php"><i class="fa fa-eye has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                        <a href="time-pack.php"><i class="fa fa-clock-o has-circle"></i></a>
                                    </span>
                                </div>
                            </article>
                        </div>
                        <div class="iso-item filter-all filter-available feature_experts"
                            style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <figure><img src="assets/img/feature-exterts/f5.jpg" alt=""></figure>
                                <div class="visited-experts">
                                    <h3>Away</h3>
                                    <h3>Busy</h3>
                                    <h3>Available</h3>
                                </div>
                                <div class="portfolio-hover-holder">
                                    <div class="portfolio-text">
                                        <div class="portfolio-text-inner">
                                            <h5 class="portfolio-title portfolio-title-2">
                                                <span class="portfolio-title portfolio-title-2" style="float:right">
                                                    <span style="color:#f60;"> $<span class="price">5.49</span></span>
                                                    <span class="text-fff">/min</span> </span>
                                            </h5>
                                            <h5 class="portfolio-title text-fff">Authentic Psychic Julia</h5>
                                            <p> Supercharge Your Life with Powerful Strategies
                                                I expert in Palmistry and Astrology. I need a picture of your palm and
                                                give you a reading with at the overall hand the fingertips and nails and
                                                skin. Try me.</p>
                                            <a href="advisor-harvey.php" class="viwe-btn text-fff view-more-css">
                                                &nbsp;&nbsp;&nbsp;&nbsp; VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                    <span class="portfolio-action">
                                        <a href="onlinechat.php"><i class="fa fa-file-text has-circle"></i></a>
                                        <a href="new_mail.php"><i class="fa fa-envelope has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                        <a class="soap-mfp-popup" href="img/feature-exterts/f5.jpg"><i
                                                class="fa fa-picture-o has-circle"></i></a>
                                        <a href="advisor-harvey.php"><i class="fa fa-eye has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                        <a href="time-pack.php"><i class="fa fa-clock-o has-circle"></i></a>
                                    </span>
                                </div>
                            </article>
                        </div>
                        <div class="iso-item filter-all filter-available feature_experts"
                            style="position: absolute; left: 0px; top: 0px;">
                            <article class="post">
                                <figure><img src="assets/img/feature-exterts/f1.jpg" alt=""></figure>
                                <div class="visited-experts">
                                    <h3>Away</h3>
                                    <h3>Busy</h3>
                                    <h3>Available</h3>
                                </div>
                                <div class="portfolio-hover-holder">
                                    <div class="portfolio-text">
                                        <div class="portfolio-text-inner">
                                            <h5 class="portfolio-title portfolio-title-2">
                                                <span class="portfolio-title portfolio-title-2" style="float:right">
                                                    <span style="color:#f60;"> $<span class="price">1.99</span></span>
                                                    <span class="text-fff">/min</span> </span>
                                            </h5>
                                            <h5 class="portfolio-title text-fff">PSYCHIC DAISY</h5>
                                            <p>I am spiritual and religion expert advice provider
                                                The insights in my work will help light the way forward for a better
                                                life and I will offer you a positive way forward in your life.</p>
                                            <a href="advisor-harvey.php" class="viwe-btn text-fff view-more-css">
                                                &nbsp;&nbsp;&nbsp;&nbsp; VIEW MORE &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    </div>
                                    <span class="portfolio-action">
                                        <a href="onlinechat.php"><i class="fa fa-file-text has-circle"></i></a>
                                        <a href="new_mail.php"><i class="fa fa-envelope has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-heart has-circle"></i></a>
                                        <a class="soap-mfp-popup" href="img/feature-exterts/f1.jpg"><i
                                                class="fa fa-picture-o has-circle"></i></a>
                                        <a href="advisor-harvey.php"><i class="fa fa-eye has-circle"></i></a>
                                        <a href="#!"><i class="fa fa-star has-circle"></i></a>
                                        <a href="time-pack.php"><i class="fa fa-clock-o has-circle"></i></a>
                                    </span>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- <app-live-chat></app-live-chat> -->
<!-- </section> -->
<!-- </div> -->